$primaryColor: #50E3C2;
$accentColor: #063974;
$textHeadingColor: #0c5f4c;
$softBackground: #d2f9f1;
$offWhite: #FAFFFE;
$errorColor: #f00e0e;
$validColor: #50e3c2;
$baseFont: 'Lato', sans-serif;
$accentFont: 'Playfair Display SC', serif;