
/* Setup Snippet */
@import "normalize";
@import "variables";
@import "nav";
@import "popup";

/* This is where the css starts */
 
/* ===================================
GENERAL STUFF
=====================================*/

body {
    font-size: 125%;
    max-width: 100%;
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
}


a:visited {
    color: inherit;
}

.findOutMore,
.readMore {
    background-color: #063974;
    color: #fff;
    border: none;
    padding: 0.5rem;
}

img {
    max-width: 100%;
}
/* ===================================
TEXT STUFF
=====================================*/
h1,
h2,
h3,
h4,
h5,
p,
nav {
    font-family: $baseFont;
    padding: 0;
    margin: 0;
}

.backgroundHome h1,
.logo,
button {
    font-family: $accentFont;
    font-style: italic;
    font-weight: 900;
}


h1 {
    color: #fff;
}


.backgroundHome h1 {
    color: $accentColor;
    font-size: 5.56rem;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
}

.backgroundBlog h1,
.backgroundContact h1 {
    font-weight: bold;
    font-size: 4.35rem;
    line-height: 2.9rem;
    letter-spacing: 0.45rem;
}

.backgroundHome 
    h2 {
        font-weight: bold;
        line-height: 2.9rem;
        letter-spacing: 0.335rem;
        font-size: 3.1rem;
        color: $textHeadingColor;
}

.blogHeading{
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 2.9rem;
    letter-spacing: 0.19rem;
    color: $textHeadingColor;
}

.about h3 {
    font-size: 1.5rem;
    letter-spacing: 0.16rem;
    color: $textHeadingColor
}

.articleSection .blogHeading{
    color: $accentColor;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0.1rem;
}

nav {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    line-height: 1.6rem;
}

button {
    font-weight: 900;
    font-style: italic;
    font-size: 1rem;
    text-align: center;
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
}

.logo {
    color: $primaryColor;
    font-size: 1.73rem;
}

.italic {
    font-style: italic;
}
.bold {
    font-style: bold;
}
/* ===================================
NAV STUFF
=====================================*/

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-height: 50rem;
    img {
        display: inline;
        margin-top: 9rem;
        max-width: initial;
        position: relative;
        top: 2rem;
    }
    .gridItem3{
        grid-row: 2 / span 2;
    }
    .gridItem2{
        grid-column: 2 / span 2;
        margin-top: 20rem;
        overflow: visible;
        margin-left: -8rem;
        z-index: 1;
    }
    .logo{
        margin-top: 1.4rem;
    }
}

.backgroundHome {
    background: url(./assets/home-image-1.jpg) no-repeat;
    background-size: cover;

        .logo{
            color: $primaryColor;
            font-size: 1.73rem;
            letter-spacing: 0;
            margin-top: 0.5rem;
        }
}

 .backgroundBlog {
     background: url(./assets/blog-image-1.jpg) no-repeat;
     background-size: cover;
     height: 35rem;
 }


 .backgroundContact {
     background: url(./assets/contact-image-1.jpg) no-repeat;
     background-size: cover;
     height: 35rem;
 }

nav {
    display: grid;
    grid-column: 1 / span 3;
    grid-template-columns: 1fr 3fr;
    column-gap: 38%;
    ul {
        display: flex;
        justify-content: space-evenly;
        
        li {
            list-style: none;
            color: #fff;
            margin: 0 0.5rem;
            padding: 0.6rem;
        }
        li::before {
            color: #fff;
        }
    }
}

a {
    text-decoration: none;
}

.backgroundHome li:first-child,
.backgroundBlog li:nth-child(3),
.backgroundContact li:last-child {
    color: $primaryColor;
}


/* ===================================
FEATURE ARTICLE STUFF
=====================================*/

.featureArticle {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 7rem;
    margin-bottom: 8rem;
    margin-top: 6rem;
    .featureArticleGrid1{
        margin-top: 5rem;
        p, button{
            margin-top: 1rem;
        }
    }
    img {
        // filter: drop-shadow(4px 10px 30px $primaryColor)
        box-shadow: -0.8rem 1.2rem $primaryColor;
        margin-top: 5rem;
    }
}


/* ===================================
GALLERY STUFF
=====================================*/

.gallery {
    background: $softBackground;
    padding-top: 5rem;
    padding-bottom: 5rem;
    .gridContainer1 {
        display: flex;
        justify-content: space-between;
        div{
            padding: 2rem;
        }
        img{
            max-width: 100%;
        }
    }
}

/* ===================================
ABOUT STUFF
=====================================*/

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 3rem;
    padding-bottom: 8rem;

    div {
        padding: 2rem;
        i{
            color: #fff;
        }
    }
    .iconBorder{
        padding: 1.5rem;
        position: relative;
        top: 2.3rem;
        right: 4rem;
    }
}

.iconBorder {
    width: 0.25rem;
    height: 0.25rem;
    background: $primaryColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    i{
        font-size: 1.25rem;
    }
}


/* ===================================
ARTICLE STUFF
=====================================*/

.articleSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background: $softBackground;
    .articleSectionGrid1{
        img{
            position: relative;
            box-shadow: 1.2rem 1.3rem $primaryColor;
            bottom: 1.5rem;
        }
    }
    .articleSectionGrid4{
        img{
            position: relative;
            box-shadow: -1.2rem 1.3rem $primaryColor;
            top: 1.5rem;
        }
    }
}

.articleSectionGrid1,
.articleSectionGrid2,
.articleSectionGrid3,
.articleSectionGrid4 {
    display:flex;
}
.articleSectionGrid2{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8rem;
}
.articleSectionGrid3{
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 8rem;
    text-align: right;
}

.articleSectionGrid4{
    justify-content: flex-end;
    align-items: flex-end;
}
.readMore{
    margin-top: 1rem;
}

/* ===================================
FOOTER FOR HOME PAGE STUFF
=====================================*/

.bannerImage {
    background: url(./assets/banner-image.jpg) no-repeat;
    background-size: cover;
    height: 30rem;
}

.referralProgram {
    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .blogHeading{
        text-align: center;
    }
    p {
        text-align: center;
        margin: 1rem 6rem;
    }
    .findOutMore{
        margin: 1rem;
    }
}

.copyrightMsg{
    text-align: center;
    background: #2c2c2c;
    color: #fff;
}

/* ===================================
BLOG HEADER STUFF
=====================================*/

.backgroundBlogGridItem2{
    display: flex;
    justify-content: center;
}

/* ===================================
BLOG FEATURE PAGE STUFF
=====================================*/

.blogGrid1{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    // column-gap: ;
}

.blogImage{
    img{
    position: relative;
    bottom: 10rem;
    box-shadow: 1.2rem 2rem $primaryColor;
    }
}

.blogArticle{
    display: flex;
    flex-direction: column;
    border-right: 0.4rem solid $primaryColor;
    border-bottom: 0.4rem solid $primaryColor;
    position: relative;
    bottom: 9.5rem;
    right: 2.1rem;
    padding: 8rem;
    margin-top: -3rem;
    width: 65rem;
    .postDate{
        color: $accentColor
    }
}

.blogGridItem2{
    margin-top: 7rem;
}

.sidebar{
    article{
        h4{
            padding-bottom: 0.5rem;
            color: $accentColor;
        }
        p{
            padding-bottom: 0.5rem;
        }
        a{
            color: $textHeadingColor;
        }
        .sidebarLink{
            padding-bottom: 0.5rem;
        }
    }
    ul{
        color: $primaryColor;
        a{
            color: #2c2c2c;
        }
    }
}

.commentSection{
    margin-top: -3rem;
}

.comments{
    width: 65rem;
}

.commentsHeading{
    margin-bottom: 2rem;
}

.comment1,
.comment2{
    display: flex;
}

.comment1{
    img{
        width: 13rem;
    }
}

.comment2{
    img{
        width: 8rem;
    }
}

.profilePicture{
    padding: 1.2rem;
}

.postDate{
    color: $accentColor;
    margin-bottom: 1rem;
}

.commentForm{
    width: 65rem;
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 4%;
    }
}

input{
    border-style: none;
    border-bottom: 0.1rem solid $primaryColor;
    padding: 1.5rem;
    margin-bottom: 3rem;
}

.textAreaComment{
    height: 16rem;
    resize: none;
    margin-bottom: 3rem;
    padding: 3rem 0 0 2rem;
    border: 0.1rem solid $primaryColor;
    grid-column: 1 / span 2;
}

.submitButton{
    grid-column: 1 / span 2;
    background-color: $accentColor;
    color: #fff;
    border: none;
    margin-bottom: 8rem;
    padding: 0.7rem;
}


/* ===================================
HOLY CRAP IT'S THE CONTACT PAGE STUFF
=====================================*/

/* ===================================
CONTACT HEADER STUFF
=====================================*/

.backgroundContactGridItem2{
    display: flex;
    justify-content: center;
    width: 42rem;
    padding: 6rem 0 0 6rem;
}

/* ===================================
CONTACT FORM STUFF
=====================================*/

.contactSectionGrid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    column-gap: 22%;
}
.contactSectionGridItem1{
    box-shadow: 1.2rem 2rem $primaryColor;
    height: 31rem;
    background-color: #fff;
    position: relative;
    bottom: 8rem;
}

.contactForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    padding: 3rem;
    textarea{
        resize: none;
        border: 0.1rem solid $primaryColor;
        grid-column: 1 / span 2;
        height: 13rem;
        padding: 2rem 0 0 2rem;
    }
    .submitButton{
        margin-top: 2rem;
    }
}

.socialMedia{
    display: flex;
    padding: 0;
    margin-left: -1rem;
    li{
        list-style-type: none;
        padding: 1rem 1rem 0 1rem;
        font-size: 1.6rem;
        margin-top: 5rem;
    }
}

.contactInfo{
    margin-bottom: 1rem;
}

.lineBreak::after{
    content: "\a";
    white-space: pre;
}


/* ===================================
HOLY CRAP IT'S THE MEDIA QUERY STUFF
=====================================*/
@media (max-width: 1080px){
    /* General Styling */
    
    /* Nav Styling */
    
    /* Home Page Styling */
    
    /* Blog Page Styling */
    .blogArticle{
        width: 76%;
    }
    
    .blogImage{
        width: 70%;
    }
    /* Contact Page Styling */
    .backgroundContactGridItem2{
        width: 36rem;
    }
}

@media (max-width: 1080px){
/* General Styling */

/* Nav Styling */

/* Home Page Styling */

/* Blog Page Styling */
.blogArticle{
    width: 76.6%;
}

.blogImage{
    width: 70%;
}
/* Contact Page Styling */
.backgroundContactGridItem2{
    width: 36rem;
}

}

@media (max-width: 950px){
    /* General Styling */
    input{
        grid-column: 1;
    }
    .submitButton{
        grid-column: 1;
    }
    /* Nav Styling */
    .header{
        nav{
            column-gap: 43%;
        }
        .logo{
            margin-left: 5rem;
        }
    }
    
    /* Home Page Styling */
    
    /* Blog Page Styling */
    .blogGrid1{
        grid-template-columns: 1fr;
    }
    .blogImage{
        width: 85%;
    }

    .blogArticle{
        right: 10.3%;
        padding: 10.3%;
        width: 97%;
    }
    .sidebar{
        article{
            grid-template-columns: 1fr 1fr;
        }
        aside{
            display: none;
        }
    }
    .blogGridItem2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1;
    }
    .commentSection{
        margin-top: 2rem;
    }

    .commentSection.wrapper{
        max-width: 100%;
    }
    .comments{
        width: 80%;
    }
    .textAreaComment{
        grid-column: 1;
    }
    /* Contact Page Styling */
    .backgroundContactGridItem2{
        width: 36rem;
    }
    .contactSectionGridItem1{
        height: 38rem;
    }
    .contactForm .submitButton{
        grid-column: 1 / span 2;
    }
}


