/* Setup Snippet */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* This is where the css starts */
/* ===================================
GENERAL STUFF
=====================================*/
body {
  font-size: 125%;
  max-width: 100%;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

a:visited {
  color: inherit;
}

.findOutMore,
.readMore {
  background-color: #063974;
  color: #fff;
  border: none;
  padding: 0.5rem;
}

img {
  max-width: 100%;
}

/* ===================================
TEXT STUFF
=====================================*/
h1,
h2,
h3,
h4,
h5,
p,
nav {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

.backgroundHome h1,
.logo,
button {
  font-family: "Playfair Display SC", serif;
  font-style: italic;
  font-weight: 900;
}

h1 {
  color: #fff;
}

.backgroundHome h1 {
  color: #063974;
  font-size: 5.56rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}

.backgroundBlog h1,
.backgroundContact h1 {
  font-weight: bold;
  font-size: 4.35rem;
  line-height: 2.9rem;
  letter-spacing: 0.45rem;
}

.backgroundHome h2 {
  font-weight: bold;
  line-height: 2.9rem;
  letter-spacing: 0.335rem;
  font-size: 3.1rem;
  color: #0c5f4c;
}

.blogHeading {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.9rem;
  letter-spacing: 0.19rem;
  color: #0c5f4c;
}

.about h3 {
  font-size: 1.5rem;
  letter-spacing: 0.16rem;
  color: #0c5f4c;
}

.articleSection .blogHeading {
  color: #063974;
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}

nav {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  line-height: 1.6rem;
}

button {
  font-weight: 900;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
}

.logo {
  color: #50E3C2;
  font-size: 1.73rem;
}

.italic {
  font-style: italic;
}

.bold {
  font-style: bold;
}

/* ===================================
NAV STUFF
=====================================*/
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  max-height: 50rem;
}
header img {
  display: inline;
  margin-top: 9rem;
  max-width: initial;
  position: relative;
  top: 2rem;
}
header .gridItem3 {
  grid-row: 2/span 2;
}
header .gridItem2 {
  grid-column: 2/span 2;
  margin-top: 20rem;
  overflow: visible;
  margin-left: -8rem;
  z-index: 1;
}
header .logo {
  margin-top: 1.4rem;
}

.backgroundHome {
  background: url(./assets/home-image-1.jpg) no-repeat;
  background-size: cover;
}
.backgroundHome .logo {
  color: #50E3C2;
  font-size: 1.73rem;
  letter-spacing: 0;
  margin-top: 0.5rem;
}

.backgroundBlog {
  background: url(./assets/blog-image-1.jpg) no-repeat;
  background-size: cover;
  height: 35rem;
}

.backgroundContact {
  background: url(./assets/contact-image-1.jpg) no-repeat;
  background-size: cover;
  height: 35rem;
}

nav {
  display: grid;
  grid-column: 1/span 3;
  grid-template-columns: 1fr 3fr;
  grid-gap: 45rem;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
nav ul li {
  list-style: none;
  color: #fff;
  margin: 0 0.5rem;
  padding: 0.6rem;
}

a {
  text-decoration: none;
}

.backgroundHome li:first-child,
.backgroundBlog li:nth-child(3),
.backgroundContact li:last-child {
  color: #50E3C2;
}

/* ===================================
FEATURE ARTICLE STUFF
=====================================*/
.featureArticle {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 7rem;
  margin-bottom: 8rem;
  margin-top: 6rem;
}
.featureArticle .featureArticleGrid1 {
  margin-top: 5rem;
}
.featureArticle .featureArticleGrid1 p, .featureArticle .featureArticleGrid1 button {
  margin-top: 1rem;
}
.featureArticle img {
  -webkit-box-shadow: -0.8rem 1.2rem #50E3C2;
          box-shadow: -0.8rem 1.2rem #50E3C2;
  margin-top: 5rem;
}

/* ===================================
GALLERY STUFF
=====================================*/
.gallery {
  background: #d2f9f1;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.gallery .gridContainer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .gridContainer1 div {
  padding: 2rem;
}
.gallery .gridContainer1 img {
  max-width: 100%;
}

/* ===================================
ABOUT STUFF
=====================================*/
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding-top: 3rem;
  padding-bottom: 8rem;
}
.about div {
  padding: 2rem;
}
.about div i {
  color: #fff;
}
.about .iconBorder {
  padding: 1.5rem;
  position: relative;
  top: 2.3rem;
  right: 4rem;
}

.iconBorder {
  width: 0.25rem;
  height: 0.25rem;
  background: #50E3C2;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.iconBorder i {
  font-size: 1.25rem;
}

/* ===================================
ARTICLE STUFF
=====================================*/
.articleSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background: #d2f9f1;
}
.articleSection .articleSectionGrid1 img {
  position: relative;
  -webkit-box-shadow: 1.2rem 1.3rem #50E3C2;
          box-shadow: 1.2rem 1.3rem #50E3C2;
  bottom: 1.5rem;
}
.articleSection .articleSectionGrid4 img {
  position: relative;
  -webkit-box-shadow: -1.2rem 1.3rem #50E3C2;
          box-shadow: -1.2rem 1.3rem #50E3C2;
  top: 1.5rem;
}

.articleSectionGrid1,
.articleSectionGrid2,
.articleSectionGrid3,
.articleSectionGrid4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articleSectionGrid2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8rem;
}

.articleSectionGrid3 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 8rem;
  text-align: right;
}

.articleSectionGrid4 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.readMore {
  margin-top: 1rem;
}

/* ===================================
FOOTER FOR HOME PAGE STUFF
=====================================*/
.bannerImage {
  background: url(./assets/banner-image.jpg) no-repeat;
  background-size: cover;
  height: 30rem;
}

.referralProgram {
  padding: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.referralProgram .blogHeading {
  text-align: center;
}
.referralProgram p {
  text-align: center;
  margin: 1rem 6rem;
}
.referralProgram .findOutMore {
  margin: 1rem;
}

.copyrightMsg {
  text-align: center;
  background: #2c2c2c;
  color: #fff;
}

/* ===================================
BLOG HEADER STUFF
=====================================*/
.backgroundBlogGridItem2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ===================================
BLOG FEATURE PAGE STUFF
=====================================*/
.blogGrid1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-gap: 15rem;
}

.blogImage img {
  position: relative;
  bottom: 10rem;
  -webkit-box-shadow: 1.2rem 2rem #50E3C2;
          box-shadow: 1.2rem 2rem #50E3C2;
}

.blogArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 0.4rem solid #50E3C2;
  border-bottom: 0.4rem solid #50E3C2;
  position: relative;
  bottom: 9.5rem;
  right: 2.1rem;
  padding: 8rem;
  margin-top: -3rem;
  width: 65rem;
}
.blogArticle .postDate {
  color: #063974;
}

.blogGridItem2 {
  margin-top: 7rem;
}

.sidebar article h4 {
  padding-bottom: 0.5rem;
  color: #063974;
}
.sidebar article p {
  padding-bottom: 0.5rem;
}
.sidebar article a {
  color: #0c5f4c;
}
.sidebar article .sidebarLink {
  padding-bottom: 0.5rem;
}
.sidebar ul {
  color: #50E3C2;
}
.sidebar ul a {
  color: #2c2c2c;
}

.commentSection {
  margin-top: -3rem;
}

.comments {
  width: 65rem;
}

.commentsHeading {
  margin-bottom: 2rem;
}

.comment1,
.comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment1 img {
  width: 13rem;
}

.comment2 img {
  width: 8rem;
}

.profilePicture {
  padding: 1.2rem;
}

.postDate {
  color: #063974;
  margin-bottom: 1rem;
}

.commentForm {
  width: 65rem;
}
.commentForm form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
}

input {
  border-style: none;
  border-bottom: 0.1rem solid #50E3C2;
  padding: 1.5rem;
  margin-bottom: 3rem;
}

.textAreaComment {
  height: 16rem;
  resize: none;
  margin-bottom: 3rem;
  padding: 3rem 0 0 2rem;
  border: 0.1rem solid #50E3C2;
  grid-column: 1/span 2;
}

.submitButton {
  grid-column: 1/span 2;
  background-color: #063974;
  color: #fff;
  border: none;
  margin-bottom: 8rem;
  padding: 0.7rem;
}

/* ===================================
HOLY CRAP IT'S THE CONTACT PAGE STUFF
=====================================*/
/* ===================================
CONTACT HEADER STUFF
=====================================*/
.backgroundContactGridItem2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 42rem;
  padding: 6rem 0 0 6rem;
}

/* ===================================
CONTACT FORM STUFF
=====================================*/
.contactSectionGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  -webkit-column-gap: 13rem;
     -moz-column-gap: 13rem;
          column-gap: 13rem;
}

.contactSectionGridItem1 {
  -webkit-box-shadow: 1.2rem 2rem #50E3C2;
          box-shadow: 1.2rem 2rem #50E3C2;
  height: 31rem;
  background-color: #fff;
  position: relative;
  bottom: 8rem;
}

.contactForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  padding: 3rem;
}
.contactForm textarea {
  resize: none;
  border: 0.1rem solid #50E3C2;
  grid-column: 1/span 2;
  height: 13rem;
  padding: 2rem 0 0 2rem;
}
.contactForm .submitButton {
  margin-top: 2rem;
}

.socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-left: -1rem;
}
.socialMedia li {
  list-style-type: none;
  padding: 1rem 1rem 0 1rem;
  font-size: 1.6rem;
  margin-top: 5rem;
}

.contactInfo {
  margin-bottom: 1rem;
}

.lineBreak::after {
  content: "\a";
  white-space: pre;
}